html{
    box-sizing: border-box;
}

*, *::after, *::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: "Barlow Semi Condensed", sans-serif;
}

body{
    background: hsl(210, 46%, 95%);
    font-size: 13px;
    line-height: 1.5;
}

.testimonials{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1440px;
    margin: 100px auto;
    padding: 20px;
    gap: 30px;
}

.card{
    background: white;
    padding: 30px 35px;
    border-radius: 10px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    margin-bottom: 10px;
}

.card__image{
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border: 2px solid lightslategray;
}

.card__header{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.name{
    line-height: 1.35;
}

.card__header h3{
    font-size: 15px;
}

.card__header p{
    opacity: 50%;
}

.card__lead{
    font-size: 1.5rem;
    font-weight: 650;
    margin: 20px 0;
    line-height: 1.2;
    margin-bottom: 20px;
}

.card__quote{
    opacity: 70%;
    font-size: 15px;
    line-height: 1.4;
}

.card--bg-purple{
    background: hsl(263, 55%, 52%);
    color: white;
    background-image: url('./images/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-position: top 10px right 100px;
}

.card--bg-grayishblue{
    background: hsl(217, 19%, 35%);
    color: white;
}

.card--bg-blackishblue{
    background: hsl(219, 29%, 14%);
    color: white;
}

.card--bg-white{
    color: hsl(217, 19%, 35%);
}

.card--bg-white .card__image{
    border: none;
}

.card:nth-of-type(1){
    grid-column: 1 / 3;
}

/* .card:nth-of-type(2){
    grid-column: 3/4;
} */

/* .card:nth-of-type(3){
    grid-column: 1/2;
} */

.card:nth-of-type(4){
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}

.card:nth-of-type(5){
    grid-column: 4 / 5;
    grid-row: 1 / 3;
}

.card:nth-of-type(5) .card__quote{
    margin-top: 30px;
    margin-right: 15px;
}